.logo{
    width: 25p;
    height: 25px;
}

header{
    background-image: url('pattern.png');
    background-repeat: no-repeat;
    height: auto;
}


#colore-grandezza{
    font-size: 10px;
    color: grey;
}

#colore1{
    color: grey;
}

#colore2{
    color: lightskyblue;
}

#grandezza{
font-size: 12px;
}

#sfondo{
    background-color: yellow;
}

th{
    background-color: dodgerblue;
}

#immagine{
    background-image: url('monitor.jpg');    

}