.logo{
    width: 25p;
    height: 25px;
}

header{
    background-image: url('../immagini/pattern.png');
    background-color: #4EA0FF;
    height: 100px;
    background-size: 30%;
}


#colore-grandezza{
    font-size: 10px;
    color: grey;
}

#colore1{
    color: grey;
}

#colore2{
    color: lightskyblue;
}

#grandezza{
font-size: 12px;
}

#sfondo{
    background-color: yellow;
}

table{
    border-collapse: collapse;
}

th{
    background-color: dodgerblue;
}
.odd {
    background-color: #B1E5F2;
}

.image-container{
    width: 200px;
    height: 160px;
    background-size: cover;
}

.colore3{
    color: white;
}

#monitor{
    background-image: url('../immagini/monitor.jpg');
}

#graph{
    background-image: url('../immagini/graph.jpg');
}